# =====================
# Python
# =====================
__pycache__/

# =====================
# test, temporary and big files
# =====================
test_and_debug/
backup file/
icon/
yolo/

# =====================
# IDE 
# =====================
.vscode/
.idea/

# =====================
# models
# =====================
*.pt
*.pth
*.npy
*.npz
